
.MuiCardContent-root {
    padding: 16px;
    background-color: #f9f9f9;
  }
  

  .MuiCard-root {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  .MuiTypography-h6 {
    font-weight: bold;
    color: #333;
  }
  

  .MuiBox-root {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
  }
  